<div class="row">

<div class="col-md-4">
    <%= image_tag @recipe.recipe_img.url(:recipe_show), class: "recipe-show" %>
</div>

<div class="col-md-8">
<div class="recipe-info">
    <h1 class="recipe-title"> <%= @recipe.title %> </h1>
	<h2>By: <%= @recipe.user.email %> </h2>
    <div class="average-review-rating" data-score=<%= @average_review %>></div>
    <span class="number-of-reviews"> Based on <%=@recipe.reviews.count %> reviews </span>
    <p class="recipe-desc"> <%= @recipe.description %> </p>
    <p>
  

<h3>Ingredients</h3>
<ul>
	<% for @ingredient in @recipe.ingredients %>
		<li><%= @ingredient.content %></li>

	<% end %>
</ul>

<h3>Steps</h3>
<ol>
	<% for @step in @recipe.steps %>
		<li><%= @step.direction %></li>
	<% end %>
</ol>
</div>

</div>
</div>
</div>


</div>

<div class="row">

	<div class="col-md-4">
    <div class="reviews">
<!-- Where the reviews/ratings will go -->
<h1>Reviews</h1>
    <%= render @recipe.reviews %>
        <div>
            <%= link_to "Add Review", new_recipe_review_path(@recipe), class: "btn btn-custom" %>

</div>
        </div>

    </div>	

</div>

<div class="links btn-group">

<%= link_to "Back", root_path, class: "btn btn-custom" %>


<% if user_signed_in? %>

<% if @recipe.user_id == current_user.id %>

<%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-custom"  %>
<%= link_to "Delete", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom"  %>

<% end %>
<% end %>
</div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>


<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>